{% extends 'base.html' %}
{% block content %}

{% if profile %}

<div class="container text-center">
    <div class="row d-flex justify-content-center"> <!-- This is the main row -->
        <div class="col-8">
                <h1>{{ profile.user.username }}'s Profile</h1>
                <br />
                <br />
                {%if boards%}
                    {% for board in boards %}

                        <div class="alert alert-warning" role="alert">
                            <h3>{{ board.title }}</h3>
                        <br />
                            <small class="text-muted">
                                <a href='#'>
                                    {{board.stickies.count}} stickies
                                </a>
                            </small>
                        <br />
                        <br />
                            {% for sticky in board.stickies.all %}
                                <h4>{{ sticky.title }}</h4>
                                <small class="text-muted">
                                    {{ sticky.body }}<br />
                                </small>
                            {% endfor %}
                            <br />
                            <small class="text-muted">
                                Created by @{{ board.user.username|lower }} on {{ board.created_at|date:"d/m/Y" }}
                            </small>
                        </div>
                    <br /><br /><br /><br />

                
                    {% endfor %}
                {% else %}
                <div class="alert alert-warning" role="alert">
                    <h3>No boards yet</h3><br />
                </div>
                {% endif %}
        </div>        
            
        <div class="col-4">
            <br /><br /><br /><br />
            <div class="card">
                <h5 class="card-header">Follows</h5>
                <div class="card-body">
                    <p class="card-text"></p>
                    {% for following in profile.follows.all %}
                    <a href="{% url 'profile' following.user.id %}">
                    @{{ following|lower }}</a><br>
                    {% endfor %}
                    <br />
                </div>
            </div>
            <br />
            <div class="card">
                <h5 class="card-header">Followers</h5>
                <div class="card-body">
                    <p class="card-text">
                        {% for following in profile.followed_by.all %}
                        <a href="{% url 'profile' following.user.id %}">
                        @{{ following|lower }}</a><br>
                        {% endfor %}
                    </p>
            </div>
            <br />
        </div><br />
        <form method=POST>
            {% csrf_token %}
            {% if profile in user.profile.follows.all %}
                <button class= "btn btn-outline-danger" name="follow"
                value="unfollow">Unfollow @{{profile.user.username|lower}}</button>
            {% else %}    <button class= "btn btn-outline-success" name="follow"
            value="follow">Follow @{{profile.user.username|lower}}</button>                   
            {% endif %}
        </form>
            
    </div>
</div>
{% endif %}

{% endblock %}